body {
  background-color: #f5f8fa;
  font-family: 'Cairo', sans-serif; }

.navbar {
  background-color: #10BBB3; }

.container {
  margin-top: .5em; }

#profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%; }

.col-6 > h3, .col-6 p {
  text-align: center; }

.submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5em; }
